@media screen and (max-width: 700px) {
body{
	font-size   : 10px;
}

input[type="text"]{
	font-size:10px;
}

textarea{
	font-size:10px;
}
}

body{
	font-family : "monospace";
	overflow-x:hidden;
}

img{
	border-radius    : 0.5rem;
}

.head{
	position: fixed;
	top:0;
	left: 0;
	width : 100%;
	z-index:2;
}

.headlinks{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 0px;
}

.left-links, .right-links {
	display: flex;
	gap: 20px; /* リンク間のスペースを調整 */
}

a.tag{
	display          : inline-block;
	padding          : 0.05rem 1rem;
	margin           : 0.25rem;
	text-decoration  : none;
	border-radius    : 0.5rem;
	/*border           : solid;*/
}

div.quote{
border-left-width: 4px;
border-left-style: solid;
white-space: normal;
margin:0;
padding:0;
}

div.view{
border-radius    : 0.5rem;
padding:1em 1em;
padding-bottom:1em;
margin-bottom: 1em;
/*border:1px solid #888;*/
}

div.quote_content{
padding:0 1em;
font-size:0.9em;
}

div.quote > details > summary{
padding: 0;
font-weight: normal;
cursor: default;
border-radius: 0px;

display: block;
list-style: none;
padding:0;
}

div.quote > details{
margin:0;
white-space:normal;
border: none;
padding: 0;
margin: 0;
border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
font-size: 1.1em;
margin-bottom :0.3em;
margin-top:0.8em;
}

div.view #text,
div.quote #text{
margin:0;
}

div.view p,
div.quote p{
margin:0.5em 0;
}

div.view ul,
div.quote ul{
margin:0.5em 0;
padding;0;
padding-left:30px;
}

div.view li,
div.quote li{
padding-top:0;
padding-bottom:0;
padding-left:0;
}

table{
margin:1em;
}
table,th,td{
border:1px solid;
}

/* details 全体を角丸の箱に */
details {
    border-width:2px;
	border-style: outset ;
    border-radius: 8px;
    padding: 0.5em;
    margin: 1em 0;
}

/* summary は箱のヘッダー風に */
summary {
    font-weight: bold;
    cursor: pointer;
    padding: 0.1em;
    border-radius: 6px;
    list-style: none; /* 三角を消す */
}

/* ブラウザ依存のマーカーを完全に消す */
summary::-webkit-details-marker {
    display: none;
}

/* 中身のコンテンツ */
details > *:not(summary) {
    margin-top: 0.5em;
}
