body{
background-color: #bbbbbb;
width:96vw;
}

/*ｳｲﾝﾄﾞｳ幅が700px以下で適用*/
@media screen and (max-width: 700px) {
body{
	font-size   : 10px;
	font-family : monospace;
}

input[type="text"]{
	font-size:10px;
	width: 95%;
}

textarea{
	font-size:10px;
	width: 95%;
}

}

.head{
	position: fixed;
	top:0;
	left: 0;
	background: #bbbbbb;
	width : 100%;
	z-index:2;
}

.headlinks{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 0px;
}

.left-links, .right-links {
	display: flex;
	gap: 20px; /* リンク間のスペースを調整 */
}

a.tag{
	display          : inline-block;
	padding          : 0.05rem 1rem;
	margin           : 0.25rem;
	text-decoration  : none;
	border-radius    : 0.5rem;
	border           : solid;
	border-color     : #888888;
	color            : black;
	background-color : #bbbbbb;
}

div.quote{
border-left: 4px solid #888;
color:#555;
font-size:90%;
white-space: normal;
margin:0;
padding:0;
}

div.quote > #text{
margin:0;
}

div.quote > p{
margin:0;
}

div.quote > ul{
margin:0;
}

div.quote > li{
padding-top:0;
padding-bottom:0;
}

table{
margin:1em;
}
div.quote > table,
th,
td{
border:1px solid;
}
