/*入力欄全体*/
.inputJ {
  /*background:#fff1;*/
  border-radius:1em;
  padding: 1rem 0;
}

/*項目のキャプション*/
.inputJ label{
  user-select:none;
  font-size:0.8em;
}

.inputJ p{
  user-select:none;
  font-size:0.8em;
}


.inputJ label:focus-within {
  font-size:0.8em;
}

/*入力要素の1セット*/
.inputJ .input_text{
  box-sizing: border-box;
  width: 100%;
  padding: 0 1em;
  /*background:#fff2;*/
}

/*複数行の入力欄*/
.inputJ textarea {
  box-sizing: border-box;
  width: 100%;
  border:none;


  min-height: 100px;
  margin:0.5rem auto;
  padding: 0.3rem;
  display: block;
  border-radius: 0.5em;
  outline: none;
  resize: vertical;
  tab-size:4;
}

/*一行の入力欄*/
.inputJ .line{
  box-sizing: border-box;
  width: 100%;
  border:none;


  margin:0.5rem auto;
  padding: 0.3rem;
  display: block;
  border-radius:0.5em;
  outline: none;
  resize: vertical;
}

/*操作関係のボタン*/
.inputJ #command{
  text-align: center;
  /*background:#fff1;*/
  border-radius:1em;
}

.inputJ fieldset{
  border:none;
  outline: none;
}

.inputJ legend{
  font-size:0.5em;
}

/*答えの入力欄*/
.bool-box{
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}

.bool-box input {
  display: none;
}

/*正誤の切り替えボタン*/
.bool-box .display {
  flex: 0 0 auto;
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 2px solid #555;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #888;
  transition: all 0.3s ease;
}

.bool-box input[type="text"]{
  flex: 1 1 auto;
  display: inline-block;
  min-width: 0;

  box-sizing: border-box;
  margin:0.5rem auto;
  padding: 0.3rem;
  border-radius:0.5em;
  outline: none;
  resize: vertical;
  border:none;
}

/*削除のボタン*/
.bool-box .close{
  flex: 0 0 auto;
  display: inline-block;
  min-width: 0;
  width: 30px;
  height: 30px;

  box-sizing: border-box;
  margin:0.5rem auto;
  padding: 0.3rem;
  border-radius:0.5em;
  outline: none;
  border:none;
}


.bool-box input:checked + .display {
}

.bool-box input:checked + .display::before {
  content: "OK";
}

.bool-box input:not(:checked) + .display::before {
  content: "NG";
}

/*追加のボタン*/
#add{
  display: block;
  margin:auto;
  width:60%;
  height:30px;
  border:none;
  border-radius:0.5em;
}



