.QSET_Judge .about{
	color:gray;
	font-size: 80%;
	padding:0px 15px;
}

.QSET_Judge .Question{
	background: #ffffff;
	word-break: break-all ;
	border-left: #fceff2 solid 10px;
	border: #fceff2 solid 1px;
	font-size: 100%;
	padding: 15px;
	white-space: pre-wrap;
}

.QSET_Judge .answer{display: inline-block;}

.QSET_Judge .input{position: relative;}

.QSET_Judge .item1{text-align: center;}

.QSET_Judge .item2{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.QSET_Judge .result1{
	white-space: pre-wrap;
	text-align: center;
}

.QSET_Judge .result2{
	white-space : pre-wrap;
	text-align : center;
	font-size : 16px;
}

.QSET_Judge .Comment{
	white-space : pre-wrap;
	padding: 15px;
}

#change{
	position: fixed;
	bottom:0;
	left: 0;
	background: #aaaaaa;
	width : 100%;
	min-height: 0px;
}


