
.QSET_Judge{
	border-radius:0.5em;
	width:99%;
	margin:1rem auto;
	padding:2px;
}

.QSET_Judge .log{
	padding:0px 20px;
}

.QSET_Judge .about{
	font-size: 80%;
	padding:0px 20px;
}

.QSET_Judge .Question{
	border-radius:0.1em;
	word-break: break-all ;
	font-size: 100%;
	padding: 15px;
	margin:0 1em 1em 1em;
	white-space: pre-wrap;
}

.QSET_Judge .answer{display: inline-block;}

.QSET_Judge .input{
	position: relative;
}

.QSET_Judge .item1{text-align: center;}

.QSET_Judge .item2{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	padding:15px;
}

.QSET_Judge .result1{
	white-space: pre-wrap;
	text-align: center;
}

.QSET_Judge .result2{
	white-space : pre-wrap;
	text-align : center;
	font-size : 16px;
}

.QSET_Judge .Comment{
	white-space : pre-wrap;
	padding: 15px;
}




