.search-container{
	border-radius:0.5em;
	background-color:rgba(255 255 255 / 40%);
	padding:5% 5%;
}

a.links_o{
	border-radius:0.5em;
	display:block;
	background-color:rgba(255 255 255 / 40%);
	color:black;
	font-size: 80%;
	padding:10px 15px;
	text-decoration:none;
	outline: none;
	margin-top:1rem;
	margin-bottom:1rem;
}

a.links_x{
	border-radius:0.5em;
	display:block;
	background-color:rgba(255 255 255 / 40%);
	color:gray;
	font-size: 80%;
	padding:10px 15px;
	text-decoration:none;
	outline: none;
	margin-top:1rem;
	margin-bottom:1rem;
}

summary {
display: block;
padding: 2px;
padding-left:15px;
border-radius: 10px;
text-decoration: none;
font-weight: bold; 
color: darkblue;
outline: none;
user-select:none;
}

.inner_details {
padding-left: 1em;
}

#change{
	position: fixed;
	bottom:0;
	left: 0;
	width : 100%;
	min-height: 0px;
}
