
.QSET_Phrase{
	border-radius:0.5em;
	width:99%;
	margin:1rem auto;
	padding:2px;
}

.QSET_Phrase  .about{
	font-size: 80%;
	padding:0px 20px;
}

.QSET_Phrase  .Question{
	word-break: break-all ;
	font-size: 100%;
	padding: 15px;
	margin:0 1em 1em 1em;
	white-space: pre-wrap;
}

.QSET_Phrase .answer{display: inline-block;}
.QSET_Phrase .input{position: relative;}
.QSET_Phrase .item1{text-align: center;}
.QSET_Phrase .item2{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.QSET_Phrase .result1{
	white-space: pre-wrap;
	padding: 15px;

}
.QSET_Phrase .result2{
	white-space : pre-wrap;
	text-align : center;
	font-size : 16px;
}
.QSET_Phrase .Comment{
	white-space : pre-wrap;
	padding: 15px;
}

.Phrase_details {
    all: unset; 
	display: block;
	margin:1em;
}

.Phrase_details > summary {
	height:2rem;
	text-align : center;
	user-select: none;
    cursor: pointer;
    padding: 0.1em;
    border-radius: 6px;
}




