.QSET_Phrase  .about{
	color:gray;
	font-size: 80%;
	padding:0px 15px;
}

.QSET_Phrase  .Question{
	background: #ffffff;
	word-break: break-all ;
	border-left: #fceff2 solid 10px;
	border: #fceff2 solid 1px;
	font-size: 100%;
	padding: 15px;
	white-space: pre-wrap;
}

.QSET_Phrase .answer{display: inline-block;}
.QSET_Phrase .input{position: relative;}
.QSET_Phrase .item1{text-align: center;}
.QSET_Phrase .item2{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.QSET_Phrase .result1{
	white-space: pre-wrap;
	padding: 15px;

}
.QSET_Phrase .result2{
	white-space : pre-wrap;
	text-align : center;
	font-size : 16px;
}
.QSET_Phrase .Comment{
	white-space : pre-wrap;
	padding: 15px;
}
#change{
	position: fixed;
	bottom:0;
	left: 0;
	background: #aaaaaa;
	width : 100%;
	min-height: 0px;
}


