<!DOCTYPE html>
<html lang="ja">

<head>
	<title>konntya</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no" />
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">

<style>

img { width: 100%; height: auto; }

</style>

</head>

<body>
	<div class="head">
		<div class="headlinks">
			<div class="left-links">
				<a href="home">　HOME　</a>
				<a href="infiniteQ_Judge">　正誤問題　</a>
				<a href="infiniteQ_Phrase">　短答問題　</a>
				<a href="Edit_Judge/new">　編集　</a>

			</div>
			<div class="right-links">
			   {{login|safe}}
			</div>
		</div>
		<hr>
    </div>

	<div style="
	width : 100%;
	height: 50px;
	"
	>
	</div>

	<h2>回答数</h2><img src="{{ graph }}" alt="Matplotlib Plot">
	<h2>正答率</h2><img src="{{ graph2 }}" alt="Matplotlib Plot">
	
	<div style="
	width : 100%;
	height: 50px;
	"
	>
	</div>

</body>















</html>
