{% extends "base.html" %}

{% block head -%}
	<link rel="stylesheet" href="{{url_for('static', filename='css/phrase.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/change.css')}}">
{%- endblock %}

{% block body -%}
	<div id="wrap">
	  <!-- ここに追加される -->
	</div>

	<div style="
	width : 100%;
	height: 50px;
	"
	>
	</div>

	{% include "parts/search.html" %}

	<script src="{{url_for('static',filename='js/phrase_load.js')}}"></script>
	<script src="{{url_for('static',filename='js/phrase.js')}}"></script>
	<script src="{{url_for('static',filename='js/phrase_check.js')}}"></script>
	<script src="{{url_for('static',filename='js/change.js')}}"></script>
{%- endblock %}
