<!DOCTYPE html>
<html lang="ja">

<head>
	<title>konntya</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no" />
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">


	<style>

	.form-row {
		display         : flex;
		justify-content : center;
		align-items     : center;
		margin-bottom   : 10px;
	}

	.form-row label {
		display        : flex;
		justify-content: flex-end;
		width          : 100px; /* ラベルの幅を固定 */			
		margin-right   : 20px; /* ラベルと入力フィールドの間のスペース */
	}


	</style>

</head>

<body>
	{{headlinks|safe}}

	<form method="POST" action="" class="form-example">
		<div class="form-row">
			<label for="input1">name :</label>
			<input type="text" name="name" autocomplete="off">
		</div>
		<div class="form-row">
			<label for="input1">pass  :</label>
			<input type="text" name="pass" autocomplete="off">
		</div>

		<div class="form-row">
		{{message}}
		</div>


		<div class="form-row">
		<input type="submit" value="  login  " name="login"/>
		</div>
	</form>

	<div style="width : 100%;height: 50px;"></div>

</body>

</html>
