{% extends "base.html" %}

{% block head -%}
	<link rel="stylesheet" href="{{url_for('static', filename='css/phrase.css')}}">
{%- endblock %}

{% block body -%}
	{{body|safe}}

	<div style="
	width : 100%;
	height: 50px;
	"
	>
	</div>

	<div id="change">
		<details><summary></summary>	
			<form style="text-align:center" method="POST" action="set_search/P">
				タグ</br>
				<input type="text" name="tag" value="{{tag}}" autocomplete="off"></br>

				問題文</br>
				<input type="text" name="inQ" value="{{inQ}}" autocomplete="off"></br>

				解説文</br>
				<input type="text" name="inC" value="{{inC}}" autocomplete="off"></br>

				<input type="submit" name="update" value="　　更新　　"  />
			</form>
		</details>
	</div>

	<script src="{{url_for('static',filename='js/phrase.js')}}"></script>
{%- endblock %}
