{% extends "base.html" %}

{% block head -%}
	<link rel="stylesheet" href="{{url_for('static', filename='css/note.css')}}">
{%- endblock %}

{% block body -%}

    <div class="search-container">
        <input type="text" id="search1" placeholder="タグ" value="{{tag}}">
        <input type="text" id="search2" placeholder="内容">
        <button onclick="search()">__検索__</button>
	</div>

	<div id="result"></div>

	<div style="
	width : 100%;
	height: 50px;
	"
	>
	</div>

	<script src="{{url_for('static',filename='js/note.js')}}"></script>
{%- endblock %}

	{{body|safe}}
