	<div class="head">
		<div class="headlinks">
			<div class="left-links">
				<a href="{{url_for('home')}}">　HOME　</a>
				<a href="{{url_for('infiniteQ_Judge')}}">　正誤問題　</a>
				<a href="{{url_for('infiniteQ_Phrase')}}">　短答問題　</a>
				<a href="{{url_for('note')}}">　ノート　</a>
				<a href="{{url_for('judge')}}">　正誤　</a>

			</div>
			<div class="right-links">
				{% if 'username' not in session -%}
				<a href="{{url_for('auth.login')}}">　ログイン　</a>
				{%- else -%}
				<a href="{{url_for('auth.logout')}}">　ログアウト　</a>
				{%- endif %}
			</div>
		</div>
	</div>

	<div style="
	width : 100%;
	height: 50px;
	">
	</div>
