<div class = "QSET">

	<div class="log"></div>
	<div class="about">{{about}}</div>
	<div class="Question">{{Q_txt}}</div>
	<HR>

	<div class="input">

		<div class="item1">	
			<input class=”answer” type="button" name="answer0" value="○ (正)" onclick="check({{Q_id}},{{Q_num}},'〇',this)"/>
			&nbsp;
			<input class=”answer” type="button" name="answer1" value="× (誤)" onclick="check({{Q_id}},{{Q_num}},'×',this)"/>
		</div>

		<div class="item2">
			<input class=”answer”  type="button" name="next0" value="除外" onclick="remove({{Q_id}},this)";/>
			&nbsp;
			<input class=”answer”  type="button" name="next1" value="編集" onclick="window.open('{{to_edit}}')";/>
		</div>

	</div>

	<HR>
	<div class="result1"></div>
	<div class="result2"></div>
	<div class="Comment"></div>
	<HR>
</div>
